<html>
<head>
    <title>Dari Ayang</title>
</head>
<body>
    <a href = "/"> Home</a> ||
    <a href = "/Makanan">Makanan</a> ||
    <a href = "/Minuman">Minuman</a> ||
    <a href = "/Cemilan">Cemilan</a> ||
    <a href = "/getOrderanMakanan"> List Orderan Makanan</a> ||
    <a href = "/getOrderanMinuman"> List Orderan Minuman</a> ||
    <a href = "/getOrderanCemilan"> List Orderan Cemilan</a> ||
    <h1> My moodBOOSTER! </h1>
    <br/>

    <form action="/orderanCemilan">
        <table>
           <tr>
                <td> Kode </td>
                <td> : </td>
                <td> <input type ="text" name="inputKode"/></td>
            </tr>
            <tr>
                <td> Nama </td>
                <td> : </td>
                <td> <input type ="text" name="inputNama"/></td>
            </tr>
            <tr>
                <td> Menu </td>
                <td> : </td>
                <td> <input type ="text" name="inputMenu"/></td>
            </tr>
            <tr>
                <td> Jumlah </td>
                <td> : </td>
                <td> <input type ="text" name="inputJumlah"/></td>
            </tr>
            <tr>
                <td> Catatan </td>
                <td> : </td>
                <td> <input type ="text" name="inputCatatan"/></td>
            </tr>
            <tr>
                <td> <input type= "submit" value = "Order"/> </td>
                <td> </td>
                <td> <input type= "reset" value = "Reset"/> </td>
            </tr>
        </table>
    </form>

</body>
<html>

