<html>
<head>
    <title>Dari Ayang</title>
</head>
<body>
    <a href = "/"> Home</a> ||
    <a href = "/Makanan">Makanan</a> ||
    <a href = "/Minuman">Minuman</a> ||
    <a href = "/Cemilan">Cemilan</a> ||
    <a href = "/getOrderanMakanan"> List Orderan Makanan</a> ||
    <a href = "/getOrderanMinuman"> List Orderan Minuman</a> ||
    <a href = "/getOrderanCemilan"> List Orderan Cemilan</a> ||
    <a href = "/updateOrderanMakanan"> Edit Orderan Makanan</a> ||
    <h1> Halo Ayang! </h1>
</body>
<html>

